.dashboard {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.dashboard a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #ffbc40;
    display: block;
}

.dashboard fa-icon {
    padding-right: 10px;
}

.dashboard a:hover {
    background-color: #222222;
    color: #ffffff;
}

.dashboard-content {
    margin-left: 180px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .dashboard {padding-top: 15px;}
    .dashboard a {font-size: 18px;}
}